<div class="challenges-wrap">
	<div class="challenges">
    	<h1>Challenges to your business</h1>
        	<div class="challenges-text-wrap">
            	<h3>Managing and leading marketing and campaign management teams within large organisations, the day to day struggle to ensure accuracy of message and production, whilst getting the maximum out of limited budgets, is a reality for significant numbers of people.</h3>
            </div>

            <div class="points-wrap">
              <div class="points">
                <div class="points-image">
                  <img src="assets/assets/correct-icon.svg" alt="correct-offer-message-icon" >
                </div>
                <h2>Offer messages</h2>
                <p>With ever changing messages, how do you ensure that exactly the right message and offer hits the right stores at the right time?</p>
              </div>

            <div class="points">
              <div class="points-image">
                <img src="assets/assets/stock-icon.svg" alt="stock-control-icon">
              </div>
              <h2>Stock control</h2>
              <p>The numbers of fixtures and fittings in store is a mystery so how do you make sure you print the right amount of POS for every campaign?</p>
            </div>

          <div class="points">
            <div class="points-image">
              <img src="assets/assets/quality-icon.svg" alt="quality-control-icon">
            </div>
            <h2>Quality control</h2>
            <p>There are so many changes to campaigns right up until your deadline and sometimes beyond, how do you know what the latest version is to sign off?</p>
          </div>

            <div class="points">
              <div class="points-image">
                <img src="assets/assets/compliance-icon.svg" alt="store-compliance-icon">
              </div>
              <h2>Store compliance</h2>
              <p>Do you know (really know) if stores are displaying your campaign material correctly, and how do they communicate their compliance back to the centre?</p>
            </div>
          <div class="clearfix">
          </div>
        </div>

        </div>
      </div>