<div class="software-wrap">
	<div class="software">
    	<h1>What our software does</h1>
        	<div class="software-text-wrap">
            	<h3>Our software provides a workflow system to support marketing teams in the highly efficient and error-free operation of in-store POS, print production and digitally based marketing messaging. It also utilises the data generated to help senior management teams make better informed business, campaign and promotional strategy decisions.</h3>
              	<p>By improving the management of printed and digital POS, and streamlining and improving campaign compliance and information, costs can be better managed, waste reduced and revenues optimised.</p>
            </div>
    </div>
    <div class="software-image">
    	<img src="assets/assets/video@2x.png" alt="company-video" width="80%" height="80%">
    </div>
</div>