<div class="colateral-wrap">
  <div class="colateral">
    <div class="float-left">
      <div class="colateral-logo">
        <img src="assets/assets/colateral-logo.svg" alt="co.lateral-logo" width="60%" height="60%">
      </div>
      <h3>Swoop’s co.lateral technology helps companies work better, and makes those individuals involved in specific business and campaign marketing processes more effective, time efficient and generally more productive.</h3>
      <p id="hide320">By improving the management of printed and digital POS, and streamlining and improving campaign compliance and information, costs can be better managed, waste reduced and revenues optimised.</p>
      </div>

    <div class="colateral-screens">
      <img src="assets/assets/co.lateral-screens@3x.png" alt="co.lateral-screens" width="100%" height="100%">
    </div>
    <div class="laptop-visual">
      <img class="laptop" src="assets/assets/laptopx2.png" alt="laptop" width="550" height="362"/>
      <img class="screen-01" src="assets/assets/laptop-screen-grab-01.png" alt="campaign-manager" width="460" height="276"/>
    </div>
      <p id="hide1024">By improving the management of printed and digital POS, and streamlining and improving campaign compliance and information, costs can be better managed, waste reduced and revenues optimised.</p>
  </div>
</div>
