<script>
function openNav() {
    document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.width = "0%";
}
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#135b7e",
      "text": "#ffffff"
    },
    "button": {
      "background": "#238dc1",
      "text": "#ffffff"
    }
  },
  "content": {
    "href": "http://weareswoop.com/website-privacy-policy.pdf"
  }
})});
</script>





</body>
</html>