<div class="footer">
        	<div class="footer-menu">
            <ul>
              <div class="footer-text-wrap">
              <li><a href="/">Home</a></li>
              <li><a href="colateral">co.lateral</a></li>
              <li><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
            </div>
              <li><a id="button" href="book-a-demo" class="button">Book a demo</a></li>
            </ul>
        	<div class="social-media">
          <a href="https://twitter.com/weareswoop" target="_blank">
            <img src="assets/assets/twitter-logo.svg" alt="twitter-logo">
          </a>
            <a href="https://www.linkedin.com/company/swoopapplications" target="_blank">
            <img src="assets/assets/linkedin-logo.svg" alt="linkedin-logo">
          </a>
          </div>
          <p>2018 All Rights Reserved<a id="privacy" href="website-privacy-policy.pdf" target="_blank">Privacy Policy</a></p>
      </div>