<div class="contact-address-wrap">
      <div class="contact-address">
        <h1>Our offices</h1>
        <div class="address-wrap">
        <div class="address">
          <h2>Redruth, Cornwall UK</h2>
          <div class="address-image">
            <img src="assets/assets/contact/redruth-map@2x.png" alt="redruth-map">
          </div>
          <div class="address-text">
          <h3>Address</h3>
          <p>Swoop Applications,<br>
             Krowji, West Park,<br> 
             Redruth, TR15 3AJ<br> 
             United Kingdom</p>
           </div>
           <div class="address-text">
          <h3>Phone number</h3>
          <p>+44 (0) 330 056 3800</p>
           </div>
           <div class="address-text">
          <h3>Email address</h3>
          <p>hello@weareswoop.com</p>
           </div>
        </div>

        <div class="address">
          <h2>Vancouver, Canada</h2>
          <div class="address-image">
            <img src="assets/assets/contact/vancouver-map@2x.png" alt="redruth-map">
          </div>
          <div class="address-text">
          <h3>Address</h3>
          <p>210 - 128 West<br>
             Hastings Street,<br>
             Vancouver BC,<br>
              V6B 1G8 Canada</p>
           </div>
           <div class="address-text">
          <h3>Phone number</h3>
          <p>+44 (0) 330 056 3800</p>
           </div>
           <div class="address-text">
          <h3>Email address</h3>
          <p>hello@weareswoop.com</p>
           </div>
        </div>

        <div class="clearfix">
        </div>
      </div>
    </div>
  </div>