<div class="contact-message-wrap">
  <div class="contact-message">
    <h1>Send us a message</h1>
    <h3>Enter your contact details below and a member of our team will be in touch shortly.</h3>
  </div>
  <div class="contact-form">
  	<form action="https://formspree.io/hello@weareswoop.com" method="POST">
    	<div class="label-wrap">
      	<label for="fname"> Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name.." required>
      </div>
      <div class="label-wrap">
        <label for="email"> Email address</label>
        <input type="text" id="email" name="emailaddress" placeholder="Email address.." required>
      </div>
      <div class="label-wrap">
      	<label for="company"> Company</label>
        <input type="text" id="company" name="companyname" placeholder="Your company name..">
      </div>
      <div class="label-wrap">
        <label for="telephone">Phone number</label>
        <input type="text" id="telephone" name="phonenumber" placeholder="Phone number.." required>
      </div>
      <div class="label-wrap">
      	<label for="message"> Message</label>
        <input type="large-text" id="message" name="message" placeholder="Message..">
      </div>

      <input type="submit" value="Send email">
    </form>
  </div>
</div>

<div class="fill">
</div>
