---
layout: default
title: Colateral
permalink: colateral
meta_description: co.lateral delivers a unique workflow and campaign management software solution across a wide variety of different retailers Internationally. Our product, co.lateral, is the only end to end software solution that allows organisations to effectively and efficiently manage campaigns across their entire estate.
---

{% include intros/product-intro.html %}
{% include callout/callout.html %}
{% include product/product-benefits.html %}
{% include product/product-breakdown.html %}
{% include demo-strip.html %}
{% include customers.html %}
{% include book-demo-form.html %}