<div class="customers-wrap">
  <div class="customers">
    <h1>Customers</h1>
      <div class="logos-wrap">
        <div class="logo">
          <img src="assets/assets/whsmiths-logo-bg.svg" alt="whsmith-logo" width="240" height="185">
        </div>
        <div class="logo">
          <img src="assets/assets/mothercare-logo-bg.svg" alt="mothercare-logo" width="240" height="185">
        </div>
        <div class="logo">
          <img src="assets/assets/tesco-logo-bg.svg" alt="tesco-logo" width="240" height="185">
        </div>
        <div class="logo">
          <img src="assets/assets/paddypower-logo-bg.svg" alt="paddypower-logo" width="240" height="185">
        </div>
        <div class="table">
        </div>
    </div>
  </div>
</div>
