<div class="customers-wrap">
  <div class="customers">
    <h1>Customers</h1>
      <div class="logos-wrap">
        <div class="logo">
          <img src="assets/assets/whsmiths-logo-bg.svg" alt="whsmith-logo"">
        </div>
        <div class="logo">
          <img src="assets/assets/mothercare-logo-bg.svg" alt="mothercare-logo">
        </div>
        <div class="logo">
          <img src="assets/assets/tesco-logo-bg.svg" alt="tesco-logo">
        </div>
        <div class="logo">
          <img src="assets/assets/paddypower-logo-bg.svg" alt="paddypower-logo">
        </div>
        <div class="table">
        </div>
        <div class="logo">
          <img src="assets/assets/smp-logo-bg.svg" alt="smp-logo"">
        </div>
        <div class="logo">
          <img src="assets/assets/talon-logo-bg.svg" alt="talon-logo">
        </div>
        <div class="logo">
          <img src="assets/assets/colart-logo-bg.svg" alt="colart-logo">
        </div>
        <div class="logo">
          <img src="assets/assets/robert-dyas-logo-bg.svg" alt="robert-dyas-logo">
        </div>
        <div class="table">
        </div>
      </div>
  </div>
</div>
