/* Statistics starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px){



.statistics-wrap {
	text-align: center;
	margin: auto;
	width: 100%;
	background-color: #FFF;
}

.statistics {
	border-style: solid;
	border-width: 1px;
	color: #238DC1;
	height: 300px;
	width: 99%;
	text-align: center;
	margin: auto;
	background-color: #F4FBFF;
}


.statistics h2 {
	font-family: "Gotham-Light";
	font-size: 20px;
	color: #135B7E;
	padding-top: 30px;
}


.statistics h3 {
	font-family: "OpenSans-Regular";
	font-size: 70px;
	color: #135B7E;
	padding: 20px;
	margin: 0;
}


.statistics p {
	text-align: center;
	width: 240px;
	margin: auto;
	padding: 20px;
}

}


/* Statistics starts*/


/* Screens over 768px wide*/

@media only screen and (min-width:768px){

.statistics-padding {
	padding: 40px;
	text-align: left;
}


.statistics {
	width: 320px;
	text-align: center;
	margin: 10px;
	border-radius: 5px;
	display: inline-table;
}


.statistics h3 {
	text-align: center;
}


}



/* Screens over 1024px wide*/

@media only screen and (min-width:1024px){

.statistics-padding {
	padding: 40px;
	text-align: center;
	display: inline-flex;
}


.statistics {
	width: 290px;
	text-align: center;
	margin: 10px;
}


}