/* About-intro section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {

.about-intro-wrap {
	background-color: #238DC1;
	width: 100%;
	height: 500px;
}


.about-intro {
	padding: 100px 40px 0px 40px;
}


.about-intro h1 {
	color: #FFF;
	text-align: center;
}


.about-intro h3 {
	text-align: center;
}


.about-scroll {
	text-align: center;
}


.about-scroll img {
	width: 20px;
	height: 11px;
}


}



/* Screens over 768px wide*/

@media only screen and (min-width:768px) {

.about-intro-wrap {
	background-color: #238DC1;
	width: 100%;
	height: 600px;
	align-items: center;
	justify-content: center;
}


.about-intro {
	width: 500px;
	margin: auto;
	padding-top: 220px;
}


.about-intro h1 {
	color: #FFF;
	text-align: center;
}


.about-intro h3 {
	text-align: center;
}


.about-scroll {
	text-align: center;
}


}




/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) {

.about-intro-wrap {
	height: 660px;
}


.about-intro {
	padding-top: 240px;
}




}




/* Screens over 1440px wide*/

@media only screen and (min-width:1440px) {

.about-intro-wrap {
	height: 700px;
}


}


/* Screens over 1700px wide*/

@media only screen and (min-width:1700px) {

.about-intro-wrap {
	height: 800px;
}


.about-intro {
	width: 700px;
}


}