/* About-intro section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {


.about-mission-wrap {
	background-color: #F9F9F9;
	width: 100%;
	margin: auto;
	text-align: center;
}

.about-mission {
	padding: 40px;
}


.about-mission h3 {
	color: #4A4A4A;
	text-align: left;
}


.about-mission h1 {
	color: #238DC1;
}


}



/* Screens over 768px wide*/

@media only screen and (min-width:768px) {

.about-mission {
	padding: 60px;
}


.about-mission h3 {
	text-align: left;
}

}




/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) {

.about-mission {
	padding: 80px;
}


.about-mission h3 {
	text-align: center;
}


.mission-text {
	width: 700px;
	margin: auto;
}


}



/* Screens over 1440px wide*/

@media only screen and (min-width:1440px) {

.mission-text {
	width: 800px;
}	

}
