/* Challenges section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {


.challenges-wrap {
	background-color: #F9F9F9;
	width: 100%;
}


.challenges {
	padding: 40px 40px;
}


.challenges h3 {
	color: #4A4A4A;
}


.challenges h2 {
	color: #238DC1;
}


.points {
	padding-top: 40px;
}


.points-image img {
	width: 80px;
	height: 80px;
}


}


/* Screens over 768px wide*/

@media only screen and (min-width:768px) { 
    /* STYLES HERE */

.challenges-wrap {
	display: inline-block;
}


.challenges {
	padding: 60px 60px;	
}


.points {
	width: 260px;
	float: left;
	padding-right: 60px;
}


.points h2 {
	padding-top: 0px;
}


.challenges h1 {
	text-align: left;
}


}



/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) { 
    /* STYLES HERE */


.challenges {
	padding: 80px 80px;
	text-align: center;
}


.challenges h1 {
	text-align: center;
	font-size: 36px;
	line-height: 72px;
}


.challenges h2 {
	color: #238DC1;
}


.challenges-text-wrap {
	width: 700px;
	margin: auto;
}


.points {
	width: 340px;
	padding: 30px;
}


.points h2 {
	text-align: center;
}


.points p {
	text-align: center;
}


.points-wrap {
	width: 800px;
	margin: auto;
	display: inline-block;
	padding-top: 40px;
}


.clearfix {
  content: "";
  display: table;
  clear: both;
}


}



/* Screens over 1440px wide*/

@media only screen and (min-width:1440px) { 
    /* STYLES HERE */



.challenges h1 {
	font-size: 42px;
	line-height: 84px;
}


.challenges h3 {
	color: #4A4A4A;
}


.challenges-text-wrap {
	width: 700px;
	margin: auto;
}


.points-wrap {
	width: 1280px;
}


.points {
	padding: 0px 30px;
	width: 260px;
}


.points h2 {
	padding-top: 0px;
	text-align: center;
	font-size: 24px;
	line-height: 48px;
}


.points p {
	font-size: 16px;
	line-height: 32px;
}

}
