/* colateral section starts*/


/* Screens under 320px wide*/

@media only screen and (min-width:320px){


.colateral-wrap {
	background-color: #F9F9F9;
	width: 100%;
}


.colateral {
	padding: 40px;
}


#hide320 {
	display: none;
}


.colateral h3 {
	color: #4A4A4A;
}


.colateral p {
	padding-top: 40px;
}


.colateral-logo {
	text-align: left;
	padding-bottom: 40px;
}


.colateral-screens {
	text-align: center;
	padding-top: 40px;
	margin: 0px -40px;
}



.colateral-title {
	display: none;
}


.laptop-visual {
	display: none;
}

}






/* Screens under 768px wide*/

@media only screen and (min-width:768px) { 
    /* STYLES HERE */


.colateral {
	padding: 60px;	
}


.colateral-logo img {
	width: 40%;
	height: 40%;
}


.colateral-screens {
	text-align: center;
	margin: 0px -60px;
} 


}


/* Screens under 1024px wide*/

@media only screen and (min-width:1024px) { 
    /* STYLES HERE */

.colateral-wrap {
	text-align: center;
	height: 600px;
}


.colateral {
	padding: 80px;
}


.colateral h3 {
	display: inline;
}


#hide320 {
	display: inherit;
}


#hide1024 {
	display: none;
}


.colateral-logo {
	text-align: left;
	padding-bottom: 40px;
	padding-left: 0px;
}


.colateral-logo img {
	width: 300px;
}


.colateral-screens {
	display: none;
}



.float-left {
	float: left;
	text-align: left;
	display: inline-block;
	width: 40%;
}


.laptop-visual {
	display: inline-block;
}


.laptop-visual {
  position: relative;
  top: 0;
  left: 0;
  float: right;
  margin-right: -80px;
}


.laptop {
  position: relative;
  top: 0;
  left: 0;
}


.screen-01 {
  position: absolute;
  top: 38px;
  left: 90px;
}

}


/* Screens under 1440px wide*/

@media only screen and (min-width:1440px) { 
    /* STYLES HERE */


.colateral-wrap {
	height: 700px;
}


.colateral p {
	display: none;
}


.colateral-logo {
	text-align: left;
	padding-bottom: 40px;
	padding-left: 0px;
}


.colateral-logo img {
	width: 300px;
}


.colateral-screens {
	display: none;
} 


.screen-01 {
  position: absolute;
  top: 52px;
  left: 120px;
}

.laptop {
	width: 727px;
	height: 480px;
}


.screen-01 {
	width: 607px;
	height: 363px;
}


}