/* Contact-message section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {


.contact-message-wrap {
	background-color: #F9F9F9;
	width: 100%;
}


.contact-message {
	padding: 40px 40px 0px 40px;
}


.contact-message h1{
	color: #238DC1;
}


.contact-message h3{
	color: #4A4A4A;
}


.contact-form {
	padding: 0px 20px 40px 20px;
	text-align: center;
}


input[type=large-text], select {
    padding: 20px 20px 170px 20px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #9B9B9B;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Gotham-Light";
    font-size: 16px;
    color: #9B9B9B;
}


.contact-form input[type=submit] {
	background-color: #E1251B;
}


.fill {
	display: none;
}

}



/* Screens over 768px wide*/

@media only screen and (min-width:768px) {


.contact-message {
	text-align: center;
	width: 500px;
	margin: auto;
}


.contact-message h1 {
	text-align: center;
}


.contact-message h3 {
	text-align: center;
}


input[type=large-text], select {
    width: 600px;
}

}



/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) {


.contact-message-wrap {
	text-align: center;
	width: 860px;
	margin: auto;
	position: absolute;
	top: 520px;
	left: 0;
	right: 0;
	border-radius: 5px;
	box-shadow: 0px 0px 8px 2px #b2b3b445;
}


.contact-form {
	display: inline-block;
	width: 800px;
}


.fill {
	display: block;
	height: 920px;
	width: 100%;
	color: #FFF;
}


input[type=large-text], select {
    width: 600px;
}


.contact-message {
	padding: 60px 40px 0px 40px;
}


}
