/* Contact-intro section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {

.contact-intro-wrap {
    background-color: #238DC1;
	width: 100%;
	height: 500px;
	position: relative;
	margin: auto;
	text-align: center;

}


.contact-intro {
	padding: 100px 40px 0px 40px;
}


.contact-intro h1 {
	text-align: center;
	color: #FFF;
}


.contact-scroll img {
	width: 20px;
	height: 11px;
}


.map img {
	width: 240px;
	height: 146px;
}



}



/* Screens over 768px wide*/

@media only screen and (min-width:768px) {


.contact-intro-wrap {
    background-image: url("../assets/contact/contact-background-768@2x.png");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 600px;
	margin: auto;
	align-items: center;
	justify-content: center;
}


.contact-intro {
	width: 500px;
	margin: auto;
	padding-top: 220px;
}


.map {
	display: none;
}


.contact-intro h1 {
	padding-top: 0px;
}


.contact-intro h3 {
	text-align: center;
}


}



/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) {

.contact-intro-wrap {
	height: 660px;
}


}



/* Screens over 1440px wide*/

@media only screen and (min-width:1440px) {


.contact-intro-wrap {
    background-image: url("../assets/contact/contact-background-1440@2x.png");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 700px;
	margin: auto;
	align-items: unset;
	justify-content: unset;
	display: flow-root;
}


.contact-intro {
	width: 600px;
}


.contact-intro h1 {
	font-size: 42px;
	line-height: 84px;
}

}




/* Screens over 1700px wide*/

@media only screen and (min-width:1700px) {


.contact-intro-wrap {
	height: 800px;
}

}