/* Product-video section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {

.video-wrap {
	background-color: #F9F9F9;
	width: 100%;
	text-align: center;
	padding-bottom: 40px;
}

.auto-resizable-iframe {
  max-width: 420px;
  padding-left: 40px;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


}




/* Screens over 768px wide*/

@media only screen and (min-width:768px) {

.video-wrap {
	text-align: left;
	padding-bottom: 60px;
}

.auto-resizable-iframe {
  max-width: 640px;
  padding-left: 60px;
}


}


/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) {

.video-wrap {
	text-align: center;
	padding-bottom: 80px;
}

.auto-resizable-iframe {
  max-width: 853px;
  margin: 0px auto;
}


}


/* Screens over 1440px wide*/

@media only screen and (min-width:1440px) {

.auto-resizable-iframe {
  max-width: 1280px;
  margin: 0px auto;
}

}
