/* Product-breakdown section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {

.product-breakdown-wrap {
	background-color: #F9F9F9;
	width: 100%;
}


.colateral-products {
	padding: 40px;
}


.product-wrap {
	padding-top: 60px;
}


.product-icon {
	float: left;
}

.product-title {
	float: left;
	padding-left: 20px;
	width: 60%;
	margin-top: -8px;
}


.product-title h2 {
	margin: 0px;
	font-family: "Gotham-Light";
	color: #4A4A4A;
}


.product-p {
	clear: both;
	padding-top: 10px;
}


.production-icon #campaign-builder img {
	width: 42px;
	height: 31px;
}


.production-icon #campaign-manager img {
	width: 42px;
	height: 30px;
}


.production-icon #campaign-viewer img {
	width: 41px;
	height: 43px;
}


.production-icon #shop-viewer img {
	width: 33px;
	height: 35px;
}


.production-icon #survey-builder img {
	width: 33px;
	height: 35px;
}


}




/* Screens over 768px wide*/

@media only screen and (min-width:768px) {

.colateral-products {
	padding: 60px;
}


.product-title {
	padding-left: 20px;
}

}




/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) {

.product-breakdown-wrap {
	text-align: center;
}


.product-wrap {
	width: 340px;
	display: inline-block;
	padding: 40px;
}


.product-p p {
	text-align: center;
}


.product-icon {
	float: none;
	text-align: center;
	padding-bottom: 10px;
}


.product-title {
	float: left;
	padding-left: 0px;
	width: 100%;
}


.colateral-products {
	padding: 80px;
}


.colateral-products h1 {
	line-height: 72px;
}


}




/* Screens over 1440px wide*/

@media only screen and (min-width:1440px) {


.colateral-products h1 {
	font-size: 42px;
	line-height: 84px;
	text-align: center;
}


.colateral-products {
	width: 1200px;
	margin: auto;
}


.product-wrap {
	padding: 60px 100px;
	width: 350px;
}

}