/* Product-benefits section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {

.benefits-wrap {
	background-color: #FFF;
	width: 100%;
}


.benefits {
	padding: 40px;
}


.benefits-text h3 {
	color: #4A4A4A;
}


.colateral-icon {
	text-align: center;
	padding: 60px 0px;
}


.colateral-icon img {
	width: 240px;
	height: 240px;
}


.bullets-wrap-left .bullet-wrap-right {
	padding: 0px;
}



.bullet-title {
	float: left;
	width: 70%;
}


.bullet-title h2 {
	margin-top: 0px;
	color: #238DC1;
}


.bullet-icon {
	float: right;
}


.bullet-icon img {
	width: 24px;
	height: 24px;
}


.bullet-p {
	clear: both;
	padding-bottom: 40px;
	width: 200px;
}


}




/* Screens over 768px wide*/

@media only screen and (min-width:768px) {


.benefits {
	padding: 60px;
	text-align: center;
	margin: auto;
}


.benefits-text {
	text-align: left;
}


.colateral-icon {
	padding-top: 40px;
}


.colateral-icon img {
	width: 360px;
	height: 100%;
}


.bullet-master {
	display: inline-grid;
	width: 100%;
}


.bullets-wrap-left {
	padding: 10px 0px;
	display: inline-block;
	text-align: left;
	float: left;
}


.bullets-wrap-right {
	padding: 10px 0px;
	display: inline-block;
	text-align: left;
	float: left;
}


.bullet-p {
	width: 100%;
}


.bullet-icon img {
	width: 30px;
	height: 100%;
}


}




/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) {

.bullet-master {
	display: inline-block;
	width: 900px;
	margin: auto;

}


.bullets-wrap-left {
	width: 350px;
	height: 160px;
	padding: 0px 50px;
	text-align: center;
}


.bullets-wrap-right {
	width: 350px;
	height: 160px;
	padding: 0px 50px;
	text-align: center;
}


.bullet-title {
	width: auto;
}


.bullet-p {
	width: 280px;
}

.benefits {
	padding: 80px;
}



.benefits h1 {
	line-height: 72px;
	text-align: center;
}


.benefits-text {
	text-align: center;
}


}





/* Screens over 1440px wide*/

@media only screen and (min-width:1440px) {


.bullet-master {
	width: 1200px;
	padding-top: 60px;
	padding-bottom: 40px;
}


.bullets-wrap-left {
	float: left;
	width: 320px;
}


.bullets-wrap-right {
	float: right;
	width: 320px;
}


.benefits h1 {
	font-size: 42px;
	line-height: 84px;
}


.bullet-title h2 {
	font-size: 24px;
	line-height: 42px;
}


.colateral-icon {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 60px;
}


.colateral-icon img {
	width: 300px;
}

}