<div class="container">
      <div class="show-logo">
      </div>

      <header>
        <div class="navigation-bar">

          <div class="nav-swoop-logo">
            <a href="/"><img src="assets/assets/swoop-logo.svg" alt="swoop-logo"></a>
          </div>
          <div class="nav-menu-1024">
            <ul>
              <li><a href="colateral">co.lateral</a></li>
              <li><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a id="phone" href="tel:+44 (0) 330 056 3800">+44 (0) 330 056 3800</a></li>
              <li><a id="button" href="book-a-demo" class="button">Book a demo</a></li>
            </ul>
          </div>

            <div class="nav-menu">
              <button class="book-a-demo">
                <a id="button" href="book-a-demo" class="button">Book a demo</a>
              </button>
              <span style="font-size:16px;cursor:pointer" onclick="openNav()">Menu &#9776;</span>
            </div>

            
        </div>

    </header>


    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="colateral">co.lateral</a></li>
              <li><a href="about">About</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a id="phone" href="tel:+44 (0) 330 056 3800">+44 (0) 330 056 3800</a></li>
              <li><a id="button" href="book-a-demo" class="button">Book a demo</a></li>
            </ul>
        </div>
    </div>