<div class="about-help-wrap">
	<div class="help-section">
		<div class="help-float-left">
		<h1>How we can help</h1>
		<p>We understand the problems you are facing on a day to day basis – lack of accuracy, difficulty reporting what’s actually going on, taking too long to achieve the end result, store compliance (or lack of). <br><br>By working with Swoop we can start to help you identify your key needs, and implement a system that will target those needs directly.</p>
	</div>
	<div class="help-float-right">
		<div class="help-icons">
			<img src="assets/assets/about/digital-devices-2@2x.png" alt="digital-devices-2">
		</div>
		<div class="help-icons-multi">
			<img src="assets/assets/about/multi-device-3.svg" alt="digital-devices-3">
		</div>
	</div>
	<div class="list-float">
			<ul>
				<div class="about-list">
				<li><p>Proven track record in developing software solutions that really deliver against key objectives.</p></li><br>
			</div>
			<div class="about-list">
				<li><p>Highly skilled team that understands your challenges and we can make significant improvements quickly.</p></li><br>
			</div>
			<div class="about-list">
				<li><p>Adaptable software will help improve efficiency and effectiveness of the entire marketing campaign process.</p></li>
			</div>
			</ul>
		</div>
	</div>
</div>
