<div class="benefits-wrap">
        <div class="benefits">
          <h1>Key benefits  of co.lateral</h1>
            <div class="benefits-text">
              <h3>Each organisation that has deployed co.lateral into its marketing and production teams has seen a number of benefits, from cost and time saving, to error and waste reduction, and better compliance.</h3>
            </div>
            <div class="colateral-icon">
              <img src="assets/assets/product/colateral-icon.svg" alt="colateral-icon">
            </div>
            <div class="bullet-master">
            <div class="bullets-wrap-left">
              <div class="bullet-title">
                <h2>Waste reduction</h2>
              </div>
              <div class="bullet-icon">
                <img src="assets/assets/product/tick-icon.svg" alt="tick">
              </div>
              <div class="bullet-p">
                <p>You print only what you need.</p>
              </div>
            </div>


            <div class="bullets-wrap-right">
              <div class="bullet-title">
                <h2>Error reduction</h2>
              </div>
              <div class="bullet-icon">
                <img src="assets/assets/product/tick-icon.svg" alt="tick">
              </div>
              <div class="bullet-p">
                <p>Less mistakes, less reprints.</p>
              </div>
            </div>

            <div class="bullets-wrap-left">
              <div class="bullet-title">
                <h2>Time saving</h2>
              </div>
              <div class="bullet-icon">
                <img src="assets/assets/product/tick-icon.svg" alt="tick">
              </div>
              <div class="bullet-p">
                <p>Time saving for marketing teams&nbsp;–&nbsp;all info is in one place.</p>
              </div>
            </div>

            <div class="bullets-wrap-right">
              <div class="bullet-title">
                <h2>Compliance in-store</h2>
              </div>
              <div class="bullet-icon">
                <img src="assets/assets/product/tick-icon.svg" alt="tick">
              </div>
              <div class="bullet-p">
                <p>Stores teams report back and issues highlighted.</p>
              </div>
            </div>

            <div class="bullets-wrap-left">
              <div class="bullet-title">
                <h2>Gain insight</h2>
              </div>
              <div class="bullet-icon">
                <img src="assets/assets/product/tick-icon.svg" alt="tick">
              </div>
              <div class="bullet-p">
                <p>Ability to track campaign effectiveness using data analysis.</p>
              </div>
            </div>


            <div class="bullets-wrap-right">
              <div class="bullet-title">
                <h2>After care</h2>
              </div>
              <div class="bullet-icon">
                <img src="assets/assets/product/tick-icon.svg" alt="tick">
              </div>
              <div class="bullet-p">
                <p>Cloud based with ongoing support and upgrades.</p>
              </div>
            </div>
          </div>

            </div>
          </div>
        </div>