<div class="product-breakdown-wrap">
          <div class="colateral-products">
            <h1>Our products</h1>
            <div class="product-wrap">
              <div class="product-icon">
                <img src="assets/assets/product/campaign-builder-icon.svg" alt="campaign-builder">
              </div>
              <div class="product-title">
                <h2>Campaign Builder</h2>
              </div>
              <div class="product-p">
                <p>Using all your own data Campaign Builder is the start of the workflow. You can create a campaign, assign elements, attach briefs, create a print allocation and send that order to your printer.</p>
              </div>
            </div>

            <div class="product-wrap">
              <div class="product-icon">
                <img src="assets/assets/product/campaign-manager-icon.svg" alt="campaign-manager">
              </div>
              <div class="product-title">
                <h2>Campaign Manager</h2>
              </div>
              <div class="product-p">
                <p>Through Campaign Manager you can tender the print, receive quotes, award the job and take the artwork from inception to approval, all in one system. You can manage the production and delivery here too.</p>
              </div>
            </div>

            <div class="product-wrap">
              <div class="product-icon">
                <img src="assets/assets/product/campaign-viewer-icon.svg" alt="campaign-viewer">
              </div>
              <div class="product-title">
                <h2>Campaign Viewer</h2>
              </div>
              <div class="product-p">
                <p>Create individual campaign store briefs within Campaign Viewer depending on what fixtures and fittings each individual store has. Send these plans to specific stores, and then receive evidence of compliance back, all within one interface.</p>
              </div>
            </div>

            <div class="product-wrap">              
              <div class="product-icon">
                <img src="assets/assets/product/shop-viewer-icon.svg" alt="shop-viewer">
              </div>
              <div class="product-title">
                <h2>Shop Viewer</h2>
              </div>
              <div class="product-p">
                <p>Each store can log on to their individual store interface that is visualised and dressed for the campaign. Two-way communication is encouraged, possible exchange of photos, messaging and document sharing are key uses for Shop Viewer.</p>
              </div>
            </div>

              <div class="product-wrap">
              <div class="product-icon">
                <img src="assets/assets/product/survey-builder-icon.svg" alt="survey-builder">
              </div>
              <div class="product-title">
                <h2>Survey Builder & Reporter</h2>
              </div>
              <div class="product-p">
                <p>Accurate data is key to co.lateral, so using the power of Survey Builder to be able to audit all stores, based on an individual set of questions is invaluable. Reporting functionality is built in so that the data captured can be analysed and shared through the business.</p>
              </div>
            </div>

          </div>
        </div>

      </div>